extends base.pug
 
block scripts 
    script(src='/static/index.js')
block style 
     style
         include ../static/style.css

block content 
    section#introsection 
      div Welcome To Dev Dance Academy
      div.small EAT SLEEP ' D A N C E '   REPEAT

    section#missionSection 
      h1  OUR MISSION
      div.card 
        h3  Dance Perfection
        div.cardbox#cardbox1
          img(src="/static/d1.png", alt="Dance Like A Rockstar")
        div.cardcontent 
          p this is the inside
      div.card 
        h3  Dance The Way You Like
        div.cardbox#cardbox2
          img(src="/static/d2.png" , alt="Dance Like A Rockstar")
        div.cardcontent 
          p this is the inside
      div.card
        h3  Professionals Training
        div.cardbox#cardbox3
          img(src="/static/d3.png", alt="Dance Like A Rockstar")
        div.cardcontent 
          p this is the inside  

    section#sponsorsSection
      h2  OUR SPONSORS 
      div.sponsors
        div.sponsorsImg 
          img(src="/static/applelogo.png", alt="sponsor1")
        div.sponsorsImg 
          img(src="/static/instagramlogo.png", alt="sponsor2")
        div.sponsorsImg 
          img(src="/static/dlogo.png", alt="sponsor3")
        div.sponsorsImg 
          img(src="/static/starpluslogo.png", alt="sponsor4")
        div.sponsorsImg 
          img(src="/static/microsoftlogo.png", alt="sponsor5")
        div.sponsorsImg 
          img(src="/static/zeelogo.png", alt="sponsor6")

